html {
  scroll-behavior: smooth;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background-color: black;
}

/* HOME */

#home
{
	margin: none;
	margin-top: 3%;
    color: white;
}

#home img
{
	margin-left: 20%;
	width: 25%;
	height: auto;
	display: inline-block;
}

#home #text
{
	width: 25%;
	margin-left: 5%;
	vertical-align: top;
	display: inline-block;
}

#bio p
{
	display: inline-block;
	margin-top: 0;
}

#links
{
	margin-top: 5%;
	text-align: center;
}

#links a
{
	font-size: 1vw;
	text-decoration: underline;
    color: white;
}